*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
}

.nav-link{
  font-weight: 300 !important;
}
.active{
  border-bottom: 4px solid black;
}


/*==============FOOTER=============*/
.footer{
  color: white;
  padding: 25px;
  background-color: black;
}
.footer a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover{
  columns: gray;
  border-bottom: 2px solid gray;
}