*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#navbar {
  text-decoration: underline;
}
.active{
  border-bottom: 2px solid;
}

#footer {
  text-align: center;
  padding: 10px;
}
#footer p {
  padding: auto;
  text-decoration-color: aliceblue;
}
#footer a{
  padding: 10px;
  text-decoration-color: white;
}

#contactlist li{
  text-decoration: none;
}