.post{
    width: 100%;
    border-radius: 10%;
    box-shadow: -9px -6px 11px -3px rgba(0,0,0,0.55);
    -webkit-box-shadow: -9px -6px 11px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: -9px -6px 11px -3px rgba(0,0,0,0.55);
    margin: 30px,0px;
}
.postWrapper{
    padding: 10px;
}
.postTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postLeft{
    display: flex;
    align-items: center;
}
.postProfileimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.postUserName{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate{
    font-size: 12px;
    
}