body{
background-color:red;
}
h1{
color:blue;
}
.div1{
background-color:yellow;
height:300px;
width:100%;
background-image:url(./nature/8.webp);
background-size:100% 100%;
animation:slide 10s infinite
}
@keyframes slide{
0% {
background-image:url(./nature/7.jpg)
}
30% {
background-image:url(./nature/8.webp)
}
80% {
background-image:url(./nature/8.webp)
}
100% {
background-image:url(./nature/8.webp)
}
}

